body {
  height: 100vh;
}

#content {
  min-width: 100vw;
  padding: 0;
}

#hours {
  margin-top: 5%;

  text-align: center;
}

#search-bar {
  width: 30vw;
  margin: 0 auto;

  input {
    border: none;
    border-bottom: 1px solid;
  }
}

.background-samples {
  display: flex;
  flex-wrap: wrap;
  
  .background-sample {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    margin: .2rem;
    padding: 0;

    cursor: pointer;
  
    &.background-sample-1 {
      background: #303030;
      color: #ededed;
    }
  
    &.background-sample-2 {
      background: #ea907a;
      color: #160E0E;
    }
  
    &.background-sample-3 {
      background: #fbc687;
      color: #51321F;
    }
  
    &.background-sample-4 {
      background: #f4f7c5;
      color: #414D2D;
    }
  
    &.background-sample-5 {
      background: #aacdbe;
      color: #233934;
    }
  
    &.background-sample-6 {
      background: #654062;
      color: #EFE8F7;
    }

    &.background-sample-7 {
      background: #ff9c71;
      color: #322106;
    }

    &.background-sample-8 {
      background: #fbd46d;
      color: #4D3300;
    }
  }
}

.settings-title {
  margin-bottom: 0;

  color: $settings-color-primary;
}

.settings-description {
  margin-top: 0;

  color: $settings-color-secondary;
}